<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<!-- th:fragment でこの部分に「common-header」という名前の部品マークをつける -->
<div th:fragment="common-header(extraLinks)" class="common-header">
	<div class="header-wrapper">
		<a th:href="@{/bills}" class="nav-links">🏠 <span class="smaller">タイムライン</span></a>
		<a th:href="@{/bills/new}" class="nav-links">➕ <span class="smaller">新規投稿</span></a>
		<a th:href="@{/users}" class="nav-links">👤 <span class="smaller">ユーザー一覧</span></a>

		<!-- ポスト通知リンク（PostNotificationの未読数がある時だけ🔴バッヂを表示） -->
		<a th:href="@{/notifications}" class="nav-links notification">
			🔔 <span class="smaller">通知</span>
			<span th:if="${unreadBillCount > 0}" th:text="${unreadBillCount}">
				0
			</span>
		</a>

		<!-- メッセージ通知（MessageNotificationの未読数がある時だけ🔴バッヂを表示） -->
		<a th:href="@{/messages/list}" class="nav-links notification">
			📩 <span class="smaller">DM</span>
			<span th:if="${unreadMessageCount > 0}" th:text="${unreadMessageCount}">
				0
			</span>
		</a>

		<!-- ログイン状態のだし分け -->
		<!-- ログインしている場合 -->
		<div th:if="${session.loginUser != null}" class="login-state-wrapper">
			<span class="user-badge">
				<div class="user-avatar-area">
					<div class="user-avatar sm">
						<img th:if="${session.loginUser != null && session.loginUser.avatarUrl != null}"
							th:src="${session.loginUser.avatarUrl}" alt="icon">
						<span th:if="${session.loginUser == null || session.loginUser.avatarUrl == null}">👤</span>
					</div>
					<span th:text="${session.loginUser.name}">ユーザー名</span>
				</div>

			</span>
			<a th:href="@{/logout}" class="nav-links logout-btn">🚪 <span class="smaller">ログアウト</span></a>
		</div>

		<!-- ログインていない場合 -->
		<div th:if="${session.loginUser == null}" class="login-btn">
			<a th:href="@{/login}" class="nav-links">🔑 ログイン</a>
		</div>
		<!-- /ログイン状態のだし分け -->

		<!-- 特定のファイルでリンクを追加したい場合に備え、ここに呼び出し側から渡された追加のリンクが自動で入る -->
		<th:block th:replace="${extraLinks}"></th:block>
	</div>
</div>

</html>