<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Web App</title>
    </head>
    
    <body>
        <h1 th:text="${message}"></h1>

        <form th:action="@{/submit}" method="post">
            <label for="username">お名前を入力してください：</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">送信</button>
        </form>

        <hr>

        <div th:if="user != null">
            <ul th:each="u : ${users}">
                <li th:text="${u.name}">名前</li>
            </ul>
        </div>
    </body>
</html>