<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="centered-layout">

    <div class="card-container login">
        <h2>🔑 ログイン</h2>

        <!-- コントローラーからエラーメッセージが渡ってきたら表示する-->
         <div th:if="${error}" class="form-group">
            <p class="error-message" th:text="${error}"></p>
         </div>

         <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="loginId">ユーザーID または Email</label>
                <!-- name="loginId"がコントローラーの@RequestParam("loginId")と紐づく-->
                 <input type="text" name="loginId" id="loginId" placeholder="login-id" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">パスワード</label>
                <!-- name="password"がコントローラーの@RequestParam("password")と紐づく -->
                 <input type="password" name="password" id="password" placeholder="••••••••" required>
            </div>

            <button type="submit" class="submit-btn">ログイン</button>
         </form>
    </div>
    
</body>
</html>